<div><%- include('./components/majorsnote.ejs',{majorsnotes: majorsnotes}) %></div>
<div><%- include('./components/cardnumber.ejs',{cardnumbers: cardnumbers}) %></div>
<div><%- include('./components/feedback.ejs',{feedbacks: feedbacks}) %></div>
<div><%- include('./components/cta.ejs',{ctas: ctas}) %></div>
<!-- <div><%- include('./components/contact.ejs',{contacts: contacts}) %></div>
<div><%- include('./components/Courses.ejs',{courses: courses}) %></div>
<div><%- include('./components/expert.ejs',{experts: experts}) %></div>
<div><%- include('./components/feedback.ejs',{feedbacks: feedbacks}) %></div>
<div><%- include('./components/logo-view.ejs',{logos: logos}) %></div>
<div><%- include('./components/parallax.ejs',{parallaxes: parallax}) %></div>
<div><%- include('./components/Popular.ejs',{populars: populars}) %></div>
<div><%- include('./components/advertisement.ejs',{advertisements: advertisements}) %></div> -->
