<div><%- include('./components/carousel-view.ejs',{images:imagedatas}) %></div>
<div><%- include('./components/heading-view.ejs', {heading:headings}) %></div>
<div><%- include('./components/card-major-view.ejs',{datamajor: datamajor}) %></div>
<div><%- include('./components/heading-view.ejs', {heading:headingtwos}) %></div>
<div><%- include('./components/card-utility-view.ejs') %></div>
<div><%- include('./components/heading-view.ejs', {heading:headingtwos}) %></div>
<div><%- include('./components/accordion-view.ejs') %></div>