<section><%- include('./components/carousel.ejs',{carousels: carousels}) %></section>
<section><%- include('./components/courses.ejs',{courses: courses,articleHeadecourses: articleHeadecourses}) %></section>
<section><%- include('./components/card.ejs',{cards: cards, articleHeadercard: articleHeadercard}) %></section>
<section><%- include('./components/accordion.ejs',{accordions: accordions, articleHeaderaccordion: articleHeaderaccordion}) %></section>
<section><%- include('./components/cardnumber.ejs',{cardnumbers: cardnumbers}) %></section>
<section><%- include('./components/feedback.ejs',{feedbacks: feedbacks}) %></section>
<section><%- include('./components/majorsnote.ejs',{majorsnotes: majorsnotes}) %></section>
<section><%- include('./components/modalpopup.ejs',{modalPopups: modalPopups}) %></section>
